<div class="chessboard">
    <div id="even_row">
        <div class="cell"> H1 </div>
        <div class="cell"> G1 </div>
        <div class="cell"> F1 </div>
        <div class="cell"> E1 </div>
        <div class="cell"> D1 </div>
        <div class="cell"> C1 </div>
        <div class="cell"> B1 </div>
        <div class="cell"> A1 </div>
    </div>
    <div id="odd_row">
        <div class="cell"> H2 </div>
        <div class="cell"> G2 </div>
        <div class="cell"> F2 </div>
        <div class="cell"> E2 </div>
        <div class="cell"> D2 </div>
        <div class="cell"> C2 </div>
        <div class="cell"> B2 </div>
        <div class="cell"> A2 </div>
    </div>
    <div id="even_row">
        <div class="cell"> H3 </div>
        <div class="cell"> G3 </div>
        <div class="cell"> F3 </div>
        <div class="cell"> E3 </div>
        <div class="cell"> D3 </div>
        <div class="cell"> C3 </div>
        <div class="cell"> B3 </div>
        <div class="cell"> A3 </div>
    </div>
    <div id="odd_row">
        <div class="cell"> H4 </div>
        <div class="cell"> G4 </div>
        <div class="cell"> F4 </div>
        <div class="cell"> E4 </div>
        <div class="cell"> D4 </div>
        <div class="cell"> C4 </div>
        <div class="cell"> B4 </div>
        <div class="cell"> A4 </div>
    </div>
    <div id="even_row">
        <div class="cell"> H5 </div>
        <div class="cell"> G5 </div>
        <div class="cell"> F5 </div>
        <div class="cell"> E5 </div>
        <div class="cell"> D5 </div>
        <div class="cell"> C5 </div>
        <div class="cell"> B5 </div>
        <div class="cell"> A5 </div>
    </div>
    <div id="odd_row">
        <div class="cell"> H6 </div>
        <div class="cell"> G6 </div>
        <div class="cell"> F6 </div>
        <div class="cell"> E6 </div>
        <div class="cell"> D6 </div>
        <div class="cell"> C6 </div>
        <div class="cell"> B6 </div>
        <div class="cell"> A6 </div>
    </div>
    <div id="even_row">
        <div class="cell"> H7 </div>
        <div class="cell"> G7 </div>
        <div class="cell"> F7 </div>
        <div class="cell"> E7 </div>
        <div class="cell"> D7 </div>
        <div class="cell"> C7 </div>
        <div class="cell"> B7 </div>
        <div class="cell"> A7 </div>
    </div>
    <div id="odd_row">
        <div class="cell"> H8 </div>
        <div class="cell"> G8 </div>
        <div class="cell"> F8 </div>
        <div class="cell"> E8 </div>
        <div class="cell"> D8 </div>
        <div class="cell"> C8 </div>
        <div class="cell"> B8 </div>
        <div class="cell"> A8 </div>
        </divdiv>
    </div>